/* Write your global styles here, in PostCSS syntax */
@tailwind base;
body {
	padding: 0;
	margin: 0;
}
@tailwind components;
@tailwind utilities;

:root {
	--theme-rounded-container: theme(borderRadius.sm);
	--theme-rounded-base: theme(borderRadius.sm);
}
